@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Press+Start+2P&display=swap");

$primaryColor: #ff4654;
$secondaryColor: #eae8e1;
$tertiaryColor: #5a35e0;

$montserrat: "Montserrat", sans-serif;
$gameFont: "Press Start 2P", cursive;

@import "mainpage";
